/* https://www.billboard.com/articles/list/473830/michael-jackson-songs-best-hits-list */



html, body {
  margin: 0;
  padding: 0;
  background: url("../images/mjBackground.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: 'Unica One', cursive;
  /* font-family: 'Fira Sans Extra Condensed', sans-serif; */

}

.vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.game-div {
  height: 760px;
  width: 45%;
  border-radius: 5px;
  margin-right: 50px;
  background-color: rgba(72, 119, 137, 0.2);
}

#result {
  color: magenta;
  height: 20px;
}

#blanks {
  color: green;
  height: 20px;
}

.title {
  font-size: 40px;
  margin: 0;
  line-height: 40px;
  margin: 10px 0;
}

.top {
  padding-top: 20px;
}

.subtitle {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 30px;
  margin: 0;
  letter-spacing: 4px;
}

#MJ {
  font-size: 70px;
}
