/* https://www.billboard.com/articles/list/473830/michael-jackson-songs-best-hits-list */



html, body {
  margin: 0;
  padding: 0;
  background: url("../images/mjBackground.jpeg") no-repeat center center fixed;
  background-size: contain;
  font-family: 'Unica One', cursive;
  /* font-family: 'Fira Sans Extra Condensed', sans-serif; */

}

.vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.game-div-left {
  height: 600px;
  width: 45%;
  background-color: red;
  opacity: 0.1;
  margin-left: 50px;
}

.game-div-right {
  height: 650px;
  width: 45%;
  border-radius: 5px;
  margin-right: 50px;
  background-color: rgba(72, 119, 137, 0.2);
}


#blanks {
  color: #c4130f;
  line-height: 50px;
  font-size: 50px;
  padding: 0;
}

#result {
  height: 30px;
  width: 90%;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  line-height: 30px;
  text-align: center;
  /* visibility: hidden; */
}

.title {
  line-height: 60px;
  font-size: 70px;
  margin: 0;
  letter-spacing: 2px;
  text-align: center;
}

.top {
  padding-top: 10px;
}

.subtitle {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 30px;
  margin: 0;
  letter-spacing: 4px;
  line-height: 40px;
}

.btn-block {
  width: 60%;
  margin: 10px 0;
}


.img-space {
  min-height: 325px;
  min-width: 325px;
  background-color: black;
  margin-top: 10px;
}

.side {
  text-align: center;
  font-size: 1.3rem;
  padding: 0 10px;
}

.nopad {
  padding: 0;
}

.marginbottom {
  margin-bottom: 100px;
}