/* https://www.billboard.com/articles/list/473830/michael-jackson-songs-best-hits-list */

/* .container, .side, .middle {
  border: 1px solid red;
} */

* {
  color: black;;
}


html, body {
  background-color: #0c1b20;
  padding-top: 20px;
  /* font-family: 'Unica One', cursive; */
  font-family: 'Unica One', sans-serif;
  text-align: center;

}

.background {
  background: url("../images/mjBackground.jpeg");
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  height: 700px;
}

.vertical-center {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}


.layer {
  background-color: rgba(72, 119, 137, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.btn {
  width: 25%;
  margin: 10px 20px;
}



.customHR {
  font-weight: 800;
  letter-spacing: -2px;
  font-size: 30px;
}




.fixInline {
  vertical-align: top;
  width: 100%;
  /* border: 1px solid purple; */
  margin-top: 10px;
}

.middle {
  height: 330px;
  width: 330px;
  background-color: #0c1b20;
  display: inline-block;
  vertical-align: top;
}

.side {
  /* border: 1px solid orange; */
  width: 220px;
  height: 330px;
  display: inline-block;
  vertical-align: top;
}



.left-game-div {
  /* border: 1px solid #0c1b20; */
  color: white;
  width: 450px;
  margin-left: 75px;
  height: 500px;
}

.right-game-div{
  padding: 10px;
  height: 650px;
  border-radius: 5px;
  margin-right: 55px;
  width: 800px;
  background-color: rgba(72, 119, 137, 0.2);
  /* border: 1px solid red; */

}

h1 {
  font-family: 'Mr Dafoe', cursive;
  font-size: 4rem;
  letter-spacing: 1px;
}

h2 {
  letter-spacing: 10px;
}

h3 {
  height: 50px;
  line-height: 50px;
  margin: 0 30px;
  font-size: 40px;
  /* border: 1px solid red; */
}

h4 {
  margin: 0;
  padding: 0;
}

h5 {
  margin: 0 auto;
  font-size: 1.6rem;
  letter-spacing: 4px;
}

#guessed {
  font-size: 1.2rem;
}

h5:first-of-type {
  margin-top: 50px;
}

#result {
  /* visibility: hidden; */
  height: 50px;
  line-height: 50px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-family: 'Pinyon Script', cursive;
  font-size: 2.5rem;
}

.box {
  width: 750px;
  height: 350px;
  margin: 10px auto;
}

.space {
  /* border: 1px solid pink; */
  height: 60px;
  margin-top: 10px;
  font-size: 1.5rem;
}



#break{
  line-height: 30px;
}

.fling-minislide img{ position:absolute; right: 290px; animation:fling-minislide 20s infinite; opacity:0; width: 330px; height: 330px;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}} 
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}